body {
    font-family: sans-serif;
    background: #111;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #1b1b1b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 nav a{margin-right:20px;color:#ddd;text-decoration:none;font-weight:600;transition:0.3s;}
nav a.active,nav a:hover{color:#00ff80;border-bottom:2px solid #bb86fc;}
  
  header h1 {
    margin: 0;
  }
  
  button {
    background: #f90;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .auction-box {
    background: #222;
    padding: 20px;
    width: 45%;
    margin: 10px;
    border-radius: 10px;
  }
  
  input {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
  }
  